@import url(http://fonts.googleapis.com/css?family=Cardo:700,400,400italic|Pontano+Sans);

.reveal a {
  color:#FF5B5B;
}
.reveal a:hover {
  color:#ff8080;
}
.reveal h1 {
  text-transform:none;
  font-size:44pt;
  font-weight:bold;
  font-family:'Pontano Sans', serif;
}
.reveal h2 {
  text-transform:none;
  font-size:36pt;
  font-family:'Pontano Sans', serif;
  font-weight:bold;
  margin-bottom:40px;
}
.reveal h2 em {
  margin-left:25px;
  font-style:normal;
  color:#d0d0d0;
  font-size:30pt;
}
.reveal h3 {
  text-transform:none;
  font-family:'Pontano Sans', sans-serif;
  font-size:32pt;
  font-weight:bold;
  margin-top:20px;
}
.reveal p, .reveal li {
  font-family:'Pontano Sans', sans-serif;
  font-size:26pt;
}
.reveal blockquote:before {
  display:none;
}
.reveal blockquote  {
  background:#303030;
  padding:10px 25px 10px 25px;
  margin-top:30px;
  margin-bottom:50px;
}

.reveal iframe {
  margin-left:170px !important;
  margin-top:70px;
  -ms-zoom: 1.2;
  -moz-transform: scale(1.2);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.2);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 0 0;
}
.reveal blockquote p {
  color:white;
  padding:0px; margin:0px;
  font-family:'Cardo', serif;
  font-style:italic;
  font-size:22pt;
}
.reveal code
{
  font-family:consolas;
}
.reveal h3 .math
{
  font-weight:normal;
}
.reveal .MathJax_Display {
  margin-top:15px !important;
  margin-bottom:30px !important;
}
.reveal img
{
  box-shadow: 0 0 0px rgba(0, 0, 0, 1) !important;
}
.reveal pre
{
  font-size:14pt;
}
.reveal table.pre
{
  width:90% !important;
  margin-left:5%;
  margin-right:5%;
}
.reveal div.tip
{
  font:14pt 'Droid Sans', arial, sans-serif;
}
.reveal td p { margin:0px; padding:0px; }

.reveal ul ul li
{
  color:#FFBFE1;
  margin-bottom:20px;
}
