@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700|PT+Sans:400,700,400italic);

i.fa {
  margin-right:20px;
  margin-left:20px;
}

i.clr {
  color:#4DC1A6;
}

i.clr2 {
  color:#ba5bfb;
}

.reveal td {
  vertical-align:top;
}

.reveal h1 em, .reveal h2 em, .reveal p em, .reveal li em, .reveal td em {
  color:#A8B51B;
  font-style:normal;
}

.reveal p strong, .reveal li strong {
  color:#009671;
  font-style:normal;
}

.reveal a {
  color:#A7B71B;
  text-decoration:none;
}
.reveal a:hover {
  color:#A7B71B;
}
.reveal h2 a, .reveal h2 a:hover {
  color:#009671;
}
.reveal ul, .reveal h1, .reveal h2, .reveal h3, .reveal p {
  margin-left:0px;
  text-align:left;
}
.reveal ul {
  margin-left:20px;
  padding-left:0px;
}
.reveal .slides {
  text-align:left;
}
.reveal ul li {
  margin-left:40px;
  padding-left:0px;
}
.reveal p {
  margin-top:20px;
  margin-bottom:5px;
}
.reveal h1 {
  text-transform:none;
  font-size:44pt;
  font-weight:bold;
  font-family: Kreon,'Times New Roman', Times, serif;
}
.reveal h1 small {
  color:#b0b0b0;
}
.reveal h2 {
  text-transform:none;
  font-size:34pt;
  font-family: Kreon,'Times New Roman', Times, serif;
  font-weight:bold;
  margin-top:20px;
  margin-bottom:20px;
  color:#009671;
}
/*
.reveal h2 em {
  margin-left:25px;
  font-style:normal;
  color:#d0d0d0;
  font-size:30pt;
}
*/
.reveal h3 {
  text-transform:none;
  font-family: Kreon,'Times New Roman', Times, serif;
  font-size:32pt;
  font-weight:bold;
  margin-top:20px;
}
.reveal p, .reveal li {
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  font-size:26pt;
}
.reveal blockquote:before {
  display:none;
}
.reveal blockquote  {
  padding:10px;
  margin:10px;
  width:100%;
}

.reveal iframe {
  margin-left:170px !important;
  margin-top:70px;
  -ms-zoom: 1.2;
  -moz-transform: scale(1.2);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.2);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.2);
  -webkit-transform-origin: 0 0;
}
.reveal blockquote p {
  color:black;
  padding:0px; margin:0px;
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  font-style:italic;
  font-size:22pt;
}
.reveal code
{
  font-size:18pt;
  font-family:consolas;
  background:transparent;
  color:#009671;
}
.reveal section img
{
  border:0px none white;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}
.reveal pre
{
  font-size:18pt;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}
.reveal table.pre
{
  border-style:none;
  width:98% !important;
  margin-left:1%;
  margin-right:1%;
}
.reveal div.tip
{
  font:14pt 'PT Sans','Trebuchet MS', sans-serif;
}
.reveal td p { margin:0px; padding:0px; }

.reveal table tr:last-child td,
.reveal table tr td {
  border:1px solid black;
}

.noborder { border-style:none !important; }