@import url(http://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,500,700,900);

.reveal blockquote:before, .reveal blockquote {
  display:none;
}

.p { color:#308060 !important; }
.t { color:#306080 !important; }
.ref {
  background:black;
  color:white;
  display:inline-block;
  border-radius:0.6em;
  text-align:center;
  font-size:0.6em !important;
  position:relative;
  top:-0.2em;
  margin:0em 0em 0em 0.3em !important;
}
.ref span {
  display:inline-block;
  margin:0.1em 0.4em 0.1em 0.4em;
}
span.sp {
  display:inline-block;
  width:1em;
}

.circ {
  background:black;
  color:white;
  display:inline-block;
  width:1.4em;
  border-radius:0.8em;
  text-align:center;
  font-size:0.6em !important;
  position:relative;
  top:-0.2em;
  margin-right:0.2em !important;
}
.circ span {
  display:inline-block;
  margin:0.1em;
}

div.tipbox { position:relative; border:solid 4px #F26722; }
div.tiplbl { position:relative; background:#F26722; color:white; font-size:16pt; padding:8px 14px 8px 14px; display:inline-block; }

.reveal .bigeq p { text-align:center; }
.reveal .bigeq .MathJax { font-size:5em !important; color:#F26722; }
.reveal .sec h1 { text-align:center; }

.reveal .diagram1 p, .reveal .diagram2 p {
  text-align:center;
}
.diagram1 span {
  padding:15px;
  font-size:24pt;
  background:#CC5222;
  color:white;
}

.diagram2 span {
  padding:15px;
  font-size:24pt;
  background:#B57D1E;
  color:white;
}

.reveal .diagram1 .arrow-down {
  padding:0px;
  background:transparent;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #CC5222;
}

.reveal .diagram2 .arrow-down {
  padding:0px;
  background:transparent;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #B57D1E;
}


.reveal ul, .reveal h1, .reveal h2, .reveal h3, .reveal p {
  text-align:left;
}
.reveal ul {
  margin:0px 0px 100px 30px;
  padding-left:0px;
}
.reveal .slides {
  text-align:left;
}
.reveal ul li {
  margin:0px;
}
.reveal p {
  margin:0px 0px 20px 0px;
}
.reveal .narrow p {
  margin:0px 0px 10px 0px;
}
.reveal code {
  background:transparent !important;
}
.reveal .fa {
  width:40px;
}
.reveal h1 {
  text-transform:none;
  font-size:40pt;
  font-weight:500;
  font-family: Roboto,'Times New Roman', Times, serif;
  margin:0px;
}
.reveal h2 {
  text-transform:none;
  font-size:36pt;
  font-family: Roboto,'Times New Roman', Times, serif;
  font-weight:500;
  margin:0px 0px 40px 0px;
}
.reveal h3 {
  text-transform:none;
  font-family:Roboto,'Times New Roman', Times, serif;
  font-size:36pt;
  font-weight:500;
  margin:0px 0px 10px 0px;
}
.reveal h4 {
  text-transform:none;
  font-family:Roboto,'Times New Roman', Times, serif;
  font-size:32pt;
  font-weight:400;
  margin:0px 0px 15px 0px;
}
.reveal p, .reveal li {
  font-family:Roboto,'Trebuchet MS', sans-serif;
  font-size:28pt;
}
.reveal section img
{
  border:0px none white;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}
.reveal a {
  color:#064E94;
  text-decoration:none;
}
.reveal a:hover {
  color:#266Eb4;
}
.reveal .ref p {
  text-align:right;
  font-size:18pt;
}

.reveal h1 em, .reveal h2 em, .reveal h3 em, .reveal h4 em, .reveal p em, .reveal li em {
  font-style:normal;
  font-weight:300;
}
.reveal h1 strong, .reveal h2 strong, .reveal h3 strong, .reveal p strong, .reveal td strong {
  font-weight:700;
}

.reveal .pre {
  background:transparent;
  border-style:none;
}
.reveal td.snippet {
  padding:10px;
}
.reveal pre {
  background:transparent;
  color:#303030;
}
.reveal code {
  font:22pt 'Roboto Mono' !important;
}
.reveal pre .i {
  color:#202020;
}
.reveal pre .o {
  color:#7A2D99;
}
.reveal pre .s {
  color:#99880C;
}
.reveal pre .n {
  color:#0F990A;
}
.reveal pre .k {
  color:#0A0F99;
}
.reveal .pre td.lines {
  display:none; 
}

i.fa {
  margin-right:10px;
}


/*
.print-pdf p { width:100%; }
.print-pdf li { width:100%; }

i.fa {
  margin-right:20px;
  margin-left:20px;
}

.reveal td {
  vertical-align:top;
}

.reveal h1 em, .reveal h2 em, .reveal h3 em, .reveal p em, .reveal li em {
  color:#9B344E;
  font-style:normal;
}

.reveal h1 strong, .reveal h2 strong, .reveal p strong, .reveal td em {
  color:#064E94;
  font-weight:normal;
}

.reveal a {
  color:#064E94;
  text-decoration:none;
}
.reveal a:hover {
  color:#A7B71B;
}
.reveal ul, .reveal h1, .reveal h2, .reveal h3, .reveal p {
  margin-left:0px;
  text-align:left;
}
.reveal ul {
  margin-left:20px;
  padding-left:0px;
}
.reveal .slides {
  text-align:left;
}
.reveal ul li {
  margin-left:40px;
  padding-left:0px;
}
.reveal p {
  margin-top:20px;
  margin-bottom:5px;
}
.reveal h1 {
  text-transform:none;
  font-size:46pt;
  font-weight:bold;
  margin-bottom:0px;
  font-family: Kreon,'Times New Roman', Times, serif;
}
.reveal h2 {
  text-transform:none;
  font-size:36pt;
  font-family: Kreon,'Times New Roman', Times, serif;
  font-weight:bold;
  margin-top:20px;
  margin-bottom:30px;
  color:#9B344E;
}

.reveal h3 {
  text-transform:none;
  font-family: Kreon,'Times New Roman', Times, serif;
  font-size:36pt;
  font-weight:bold;
  margin-top:30px;
  margin-bottom:-20px;
}
.reveal p, .reveal li {
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  font-size:30pt;
}
.reveal blockquote:before {
  display:none;
}
.reveal blockquote  {
  padding:0px; margin:0px;
  width:100%;
  box-shadow:none;
}

.reveal blockquote em {
  font-style:italic;
}

.reveal blockquote p {
  color:black;
  padding:0px; margin:0px;
  margin-bottom:40px;
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  font-style:italic;
  font-size:28pt;
}

.reveal blockquote blockquote p {
  width:100%;
  color:#064E94;
  font-size:24pt;
  text-align:right;
}

.reveal code
{
  font-size:18pt;
  font-family:consolas;
  background:transparent;
  color:#009671;
}
.reveal section img
{
  border:0px none white;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}
.reveal pre
{
  font-size:18pt;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}
.reveal table.pre
{
  border-style:none;
  width:98% !important;
  margin-left:1%;
  margin-right:1%;
}
.reveal div.tip
{
  font:14pt 'PT Sans','Trebuchet MS', sans-serif;
}
.reveal td p { margin:0px; padding:0px; }
*/
